<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoteMapper">
	
	<!-- 
	private int ntIdx;
	private int uuId;
	private String ntTitle;
	private Date ntDate;
	
	private int chIdx;
	private String chTitle;
	private Date chTravelDate;
	
	private String img;
	private int replyCnt;
	private int likeCnt; 
	-->
	
	<!-- note page 범위에 따른 note idx 값 가져오기 -->
	<select id="selectNotePageRange" parameterType="hashmap" resultType="integer">
		SELECT NT_IDX
		FROM (
		        SELECT NT_IDX, ROWNUM rn
		        FROM Note
		        order by nt_idx
		)
		WHERE rn BETWEEN #{f_range} AND #{l_range}
	</select>
	
	<!-- 위 selectNotePageRange 결과인 note idx 를 조건으로 reply 개수 가져오기 -->
	<select id="selectNotePageRangePerReply" parameterType="arraylist" resultType="hashmap">
		select RP_NT_IDX as replyIdx, count(*) as cnt
		from reply
		where RP_NT_IDX in 
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		group by RP_NT_IDX
		order by RP_NT_IDX
	</select>
	
	<!-- 위 selectNotePageRange 결과인 note idx 를 조건으로 like 개수 가져오기 -->
	<select id="selectNotePageRangePerLike" parameterType="arraylist" resultType="hashmap">
		select fl_NT_IDX as likeIdx, count(*) as cnt
		from finelike
		where fl_NT_IDX in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		group by fl_NT_IDX
		order by fl_NT_IDX
	</select>
	
	<select id="selectNoteAll" parameterType="arraylist" resultType="Note">
		SELECT
		nt.nt_idx AS ntIdx, ch.CH_IDX AS chIdx, 
		um.UM_NAME AS userName, um.UM_PHOTO AS uPhoto, um.um_id AS uuId, 
		nt.nt_title AS ntTitle, nt.nt_date AS ntDate,
		ch.CH_TITLE AS chTitle, ch.CH_TRAVELDATE AS chTravelDate,
		pct.pct_imgs AS pctImgs
		FROM UserMember um
		INNER JOIN Note nt on um.um_id = nt.NT_UM_ID
		INNER JOIN Chapter ch on nt.NT_IDX = ch.CH_NT_IDX
		INNER JOIN Picture pct on nt.NT_IDX = pct.pct_NT_IDX and ch.CH_IDX = pct.PCT_CH_IDX
		where nt.NT_IDX in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		order by ntidx, chIdx
	</select>
	
	<insert id="insert" parameterType="Note">
		insert into dept (deptno, dname, loc) 
		values ( #{deptno}, #{dname}, #{loc} )
	</insert>
	
	<update id="update" parameterType="Note">
		update dept
		set dname= #{dname}, loc = #{loc}
		where deptno = #{deptno}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from dept
		where deptno = #{deptno}
	</delete>
   
</mapper>










