/**
 * Grid container
 */
#main {
}

#imgWrap {
	margin: 0 auto;
    width: 871px;
    padding: 0;
}

#imgWrap img {
	width: 860px;
    margin: 0 auto;
    text-align: center;
}

#tiles {
    list-style-type: none;
    position: relative;
    
    padding: 0;
    width: 871px;
    overflow: hidden;
    margin: 0 auto;
}
#tiles li:hover img{
	opacity:0.8;
	
}
/**
 * Grid items
 */
#tiles li {
	display:inline;
	float: left;
	margin-right: 10px;
    padding: 0 0 0 0;
 	width: 280px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	cursor: pointer;
	border-radius: 0.2em;
	margin-bottom:20px;
}
#tiles li .notePic{
	width: 100%;
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li .noteUserPic {
	width : 70px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
 	display: block;
}




